/* Components */

.Blog, .Blog-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Blog {
  min-height: 100vh;
}

.Blog-body {
  font-size: 1.8rem;

  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  padding: 0;
}

.Blog-content {
  margin: 0;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.Blog-nav, .Blog-aside {
  padding: 1em;
  border-radius: 3px;
}

.Blog-nav {
  line-height: 2em;
}

.Blog-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Blog-nav-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.Blog-excerpt {}

.Blog-list {}

.Blog-list-date {
  float: left;
  width: 25%;
}

.Blog-list-link {
  margin-left: 25%;
  margin-bottom: 1em;
}


.Header {
  padding: 1em .5em .5em 1em;
  text-align: center;
  line-height: 1em;
}

.Header-logo, .Header-title, .Header-subTitle {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.Header-logo {
  float: left;
  margin-right: 1rem;
  margin-top: -.33rem;
}

.Header-title {
  margin: 0;
  font-size: 2.4em;
  line-height: 1.5em;
  word-spacing: .08em;
  float: left;
}

.Header .u-blueTxt a {
  border-bottom: none;
}

.Header-subTitle {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  float: right;
  font-size: .85em;
}

.Footer {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
}

.Footer-credits {
  margin: 0;
  padding: 0;
}

.Box {
  width: 100%;
  padding: .5rem;
}

.Box::after {
  content: "";
  display: block;
  margin-top: .5rem;
  height: 1px
}

.Box-title {
  margin-bottom: .25rem;
  font-size: 1em
}

@media (min-width: 48em) {

  .Blog-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;

    padding: 0 3rem;
  }

  .Blog-content {
    min-width: 70%;
    margin: 0;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
  }

  .Blog-nav, .Blog-aside {
    /* 30% is the width of the columns */
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }

  .Blog-nav {
    /* put the nav on the right */
    -webkit-box-ordinal-group: 0;
    -webkit-order: 1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: 1;
    order: 1;

    padding-left: 3rem;
    padding-top: 2.25rem;
  }

  .Header {
    padding: 1rem 4.75rem .5rem 3rem;
  }

  .Header--cozy, .Header--cozy .Header-titles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Header--cozy {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .Header-title {
    font-size: 1.5em;
  }

  .Header--cozy .Header-title {
    font-size: 1.5em;
  }
}
