/* Elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  margin: 0;
  padding 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'outageregular', sans-serif;
  font-style: normal;
  -webkit-font-kerning: normal;

  color: #f39f2b; /* yellow */
}
h1, h2 {
  margin: 0 0 1rem 0;
  font-weight: 400;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.8em;
  font-weight: 700;
}
h6, small {
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 1em 0;
  line-height: 1.8em;
}
small {
  font-family: 'outageregular', sans-serif;
  color: #d2d2d2;
}

header,
footer {
  margin: 0;
  padding: 0;
}
footer small {
  color: #777777;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}

strong {
  color: #0082be; /* blue */
}
