<div class="Admin-form">
  <p class="Admin-form-title">
    <label>Title:</label>
    <br>
    {{input type="text" value=title}}
  </p>
  <p class="Admin-form-excerpt">
    <label>Excerpt: [Markdown]</label>
    <br>
    {{textarea type="text" value=excerpt}}
  </p>
  <p class="Admin-form-body">
    <label>Body: [Markdown]</label>
    <br>
    {{textarea value=body}}
  </p>
</div>
