<h4>Posts Archive</h4>
<dl class="Blog-list">
  {{#each model}}
    <dt class="Blog-list-date">{{format-date date}}</dt>
    <dd class="Blog-list-link u-cf">
      {{#link-to "admin.edit" this}}{{title}}{{/link-to}}
    </dd>
  {{/each}}
</dl>
{{outlet}}
