/* Layout */

.Blog, .Blog-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Blog {
  min-height: 100vh;
}

.Blog-body {
  font-size: 1.8rem;

  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.Blog-content {
  margin: 1.5em 0;
  padding: 1.5rem 2rem 6rem 2rem;
}

.Blog-nav, .Blog-aside {
  padding: 1em;
  border-radius: 3px;
}

.Blog-nav {
  font-family: 'PT Sans', sans-serif;
}

.Blog-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Blog-nav-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.Header {
  padding: 1em;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.Header-logo, .Header-title, .Header-subTitle {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.Header-logo {
  font-size: 2.4rem;
  float: left;
  margin-right: 1rem;
  margin-top: -.33rem;
}

.Header-title {
  margin: 0;
  font-size: 2.4em;
  line-height: 1em;
  word-spacing: .08em;
  float: left;
}

.Header-subTitle {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  float: right;
}

.Footer {
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  font: 'PT Sans', sans-serif;
}

.Footer-credits {
  margin: 0;
  padding: 0;
}

.Box {
  width: 100%;
  padding: .5rem;
}

.Box::after {
  content: "";
  display: block;
  margin-top: .5rem;
  height: 1px
}

.Box-title {
  margin-bottom: .25rem;
  font-size: 1em
}

@media (min-width: 48em) {

  .Blog-body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;

    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
  }

  .Blog-content {
    margin: 0;
  }

  .Blog-nav, .Blog-aside {
    /* 30% is the width of the columns */
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 30%;
    -moz-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
  }

  .Blog-nav {
    padding-left: 6rem;

    /* put the nav on the left */
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .Header--cozy, .Header--cozy .Header-titles {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }

  .Header--cozy {
    padding: .8rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .Header-title {
    font-size: 3.6em;
  }

  .Header--cozy .Header-title {
    font-size: 2em;
  }
}

/* Utilities */

.u-textCenter {
  text-align: center!important;
}

.u-textLeft {
  text-align: left!important;
}

.u-ltGrayBkg {
  background-color: #F5F4F1;
}

.u-mdGrayBkg {
  background-color: #E7E4DC;
}

.u-whiteTxt,
.u-whiteTxt a,
.u-whiteTxt a:active,
.u-whiteTxt a:hover {
  color: white;
}
.u-whiteTxt a {
  border-bottom: 1px dashed rgba(255, 255, 255,.5);
}

.u-ltGrayText,
.u-ltGrayText a,
.u-ltGrayText a:active,
.u-ltGrayText a:hover {
  color: #ccc;
}

.u-dkGrayTxt,
.u-dkGrayTxt a,
.u-dkGrayTxt a:active,
.u-dkGrayTxt a:hover {
  color: #546578;
}

.u-yellowTxt,
.u-yellowTxt a,
.u-yellowTxt a:active,
.u-yellowTxt a:hover {
  color: #f39f2b;
}
.u-yellowTxt a {
  border-bottom: 1px dashed #f39f2b;
}

.u-greenTxt,
.u-greenTxt a,
.u-greenTxt a:active,
.u-greenTxt a:hover {
  color: #39af4c;
}
.u-greenTxt a {
  border-bottom: 1px dashed #39af4c;
}

.u-blueTxt,
.u-blueTxt a,
.u-blueTxt a:active,
.u-blueTxt a:hover {
  color: #0082be;
}
.u-blueTxt a {
  border-bottom: 1px dashed #0082be;
}

.u-redTxt,
.u-redTxt a,
.u-redTxt a:active,
.u-redTxt a:hover {
  color: #e81e25;
}
.u-redTxt a {
  border-bottom: 1px dashed #e81e25;
}

.u-rounded {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
}


/* clear fix */
.u-cf:before,
.u-cf:after {
  content: " ";
  display: table;
}
.u-cf:after {
  clear: both;
}


/* Elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {}
html {
  font-size: 62.5%;
}
body {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  -webkit-font-kerning: normal;
}
h1, h2 {
  margin: 0 0 1rem 0;
  font-weight: 400;
}
h1 {
  font-size: 2.4em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.8em;
  font-weight: 700;
}
p {
  margin: 0 0 1em 0;
  line-height: 1.8em;
}

header,
footer {
  margin: 0;
  padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
  text-decoration: none;
}
