/* Grid: http://philipwalton.github.io/solved-by-flexbox/demos/grids/ */
/* Naming: https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md */

*,*::before,*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
html {
  height: 100%;
  color: #404040;
  font: 300 1em/1.333 "proxima-nova",sans-serif
}
h1 {
  margin: 0 0 .5em;
  font-weight: 700;
  font-size: 3em;
  line-height: 1
}
h1,h2 {
  -webkit-font-kerning: normal
}
h2 {
  margin: 0 0 1em;
  font: 700 1.3em "ff-tisa-web-pro",serif
}
h3 {
  font-size: 1em
}
h3,pre,p {
  margin: 0 0 1em
}
pre,code {
  font-family: "source-code-pro",monospace
}
code {
  font-size: .9em;
  font-weight: 400;
  color: #000
}
pre>code {
  font: inherit;
  color: inherit
}
a {
  border-bottom: 1px dashed rgba(70,185,128,.5);
  color: #46b980;
  text-decoration: none
}
a:hover,a:focus {
  border-bottom: 1px solid #46b980
}
ul,ol {
  margin: 0;
  padding: 0;
  list-style: none
}
.u-smaller {
  font-size: .85em
}
.u-bigger {
  font-size: 1.2em
}
.u-spaceAN {
  margin: 0!important
}
.u-spaceVN {
  margin-bottom: 0!important
}
.u-spaceVN,.u-spaceTN {
  margin-top: 0!important
}
.u-spaceRN {
  margin-right: 0!important
}
.u-spaceBN {
  margin-bottom: 0!important
}
.u-spaceLN {
  margin-left: 0!important
}
.u-spaceAS {
  margin: .5em!important
}
.u-spaceVS {
  margin-bottom: .5em!important
}
.u-spaceVS,.u-spaceTS {
  margin-top: .5em!important
}
.u-spaceRS {
  margin-right: .5em!important
}
.u-spaceBS {
  margin-bottom: .5em!important
}
.u-spaceLS {
  margin-left: .5em!important
}
.u-spaceAM {
  margin: 1em!important
}
.u-spaceVM {
  margin-bottom: 1em!important
}
.u-spaceVM,.u-spaceTM {
  margin-top: 1em!important
}
.u-spaceRM {
  margin-right: 1em!important
}
.u-spaceBM {
  margin-bottom: 1em!important
}
.u-spaceLM {
  margin-left: 1em!important
}
.u-spaceAL {
  margin: 2em!important
}
.u-spaceVL {
  margin-bottom: 2em!important
}
.u-spaceVL,.u-spaceTL {
  margin-top: 2em!important
}
.u-spaceRL {
  margin-right: 2em!important
}
.u-spaceBL {
  margin-bottom: 2em!important
}
.u-spaceLL {
  margin-left: 2em!important
}
.u-faint {
  color: gray
}
.u-full {
  width: 100%!important
}
.u-full,.u-1of2 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-1of2 {
  width: 50%!important
}
.u-1of3 {
  width: 33.3333%!important
}
.u-1of3,.u-2of3 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-2of3 {
  width: 66.6667%!important
}
.u-1of4 {
  width: 25%!important
}
.u-1of4,.u-3of4 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-3of4 {
  width: 75%!important
}
@media (min-width:24em) {.u-small-full {
  width: 100%!important
}
.u-small-full,.u-small-1of2 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-small-1of2 {
  width: 50%!important
}
.u-small-1of3 {
  width: 33.3333%!important
}
.u-small-1of3,.u-small-2of3 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-small-2of3 {
  width: 66.6667%!important
}
.u-small-1of4 {
  width: 25%!important
}
.u-small-1of4,.u-small-3of4 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-small-3of4 {
  width: 75%!important
}

}
@media (min-width:36em) {.u-med-full {
  width: 100%!important
}
.u-med-full,.u-med-1of2 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-med-1of2 {
  width: 50%!important
}
.u-med-1of3 {
  width: 33.3333%!important
}
.u-med-1of3,.u-med-2of3 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-med-2of3 {
  width: 66.6667%!important
}
.u-med-1of4 {
  width: 25%!important
}
.u-med-1of4,.u-med-3of4 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-med-3of4 {
  width: 75%!important
}

}
@media (min-width:48em) {.u-large-full {
  width: 100%!important
}
.u-large-full,.u-large-1of2 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-large-1of2 {
  width: 50%!important
}
.u-large-1of3 {
  width: 33.3333%!important
}
.u-large-1of3,.u-large-2of3 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-large-2of3 {
  width: 66.6667%!important
}
.u-large-1of4 {
  width: 25%!important
}
.u-large-1of4,.u-large-3of4 {
  -webkit-box-flex: none;
  -webkit-flex: none!important;
  -moz-box-flex: none;
  -ms-flex: none!important;
  flex: none!important
}
.u-large-3of4 {
  width: 75%!important
}

}
.Grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0
}
.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.Grid--flexCells>.Grid-cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}
.Grid--top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.Grid--bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}
.Grid--center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.Grid-cell--top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start
}
.Grid-cell--bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end
}
.Grid-cell--center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center
}
.Grid--fit>.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.Grid--full>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}
.Grid--1of2>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}
.Grid--1of3>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%
}
.Grid--1of4>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%
}
@media (min-width:24em) {.small-Grid--fit>.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.small-Grid--full>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}
.small-Grid--1of2>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}
.small-Grid--1of3>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%
}
.small-Grid--1of4>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%
}

}
@media (min-width:36em) {.med-Grid--fit>.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.med-Grid--full>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}
.med-Grid--1of2>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}
.med-Grid--1of3>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%
}
.med-Grid--1of4>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%
}

}
@media (min-width:48em) {.large-Grid--fit>.Grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1
}
.large-Grid--full>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%
}
.large-Grid--1of2>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%
}
.large-Grid--1of3>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%
}
.large-Grid--1of4>.Grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%
}

}
.Grid--gutters {
  margin-left: -1em
}
.Grid--gutters>.Grid-cell {
  padding-left: 1em
}
.Grid--guttersLarge {
  margin-left: -1.5em
}
.Grid--guttersLarge>.Grid-cell {
  padding-left: 1.5em
}
.Grid--gutters2x {
  margin-left: -2em
}
.Grid--gutters2x>.Grid-cell {
  padding-left: 2em
}
.Grid--gutters3x {
  margin-left: -3em
}
.Grid--gutters3x>.Grid-cell {
  padding-left: 3em
}
@media (min-width:24em) {.small-Grid--gutters {
  margin-left: -1em
}
.small-Grid--gutters>.Grid-cell {
  padding-left: 1em
}
.small-Grid--guttersLarge {
  margin-left: -1.5em
}
.small-Grid--guttersLarge>.Grid-cell {
  padding-left: 1.5em
}
.small-Grid--gutters2x {
  margin-left: -2em
}
.small-Grid--gutters2x>.Grid-cell {
  padding-left: 2em
}
.small-Grid--gutters3x {
  margin-left: -3em
}
.small-Grid--gutters3x>.Grid-cell {
  padding-left: 3em
}

}
@media (min-width:36em) {.med-Grid--gutters {
  margin-left: -1em
}
.med-Grid--gutters>.Grid-cell {
  padding-left: 1em
}
.med-Grid--guttersLarge {
  margin-left: -1.5em
}
.med-Grid--guttersLarge>.Grid-cell {
  padding-left: 1.5em
}
.med-Grid--gutters2x {
  margin-left: -2em
}
.med-Grid--gutters2x>.Grid-cell {
  padding-left: 2em
}
.med-Grid--gutters3x {
  margin-left: -3em
}
.med-Grid--gutters3x>.Grid-cell {
  padding-left: 3em
}

}
@media (min-width:48em) {.large-Grid--gutters {
  margin-left: -1em
}
.large-Grid--gutters>.Grid-cell {
  padding-left: 1em
}
.large-Grid--guttersLarge {
  margin-left: -1.5em
}
.large-Grid--guttersLarge>.Grid-cell {
  padding-left: 1.5em
}
.large-Grid--gutters2x {
  margin-left: -2em
}
.large-Grid--gutters2x>.Grid-cell {
  padding-left: 2em
}
.large-Grid--gutters3x {
  margin-left: -3em
}
.large-Grid--gutters3x>.Grid-cell {
  padding-left: 3em
}

}
@supports not (flex-wrap:wrap) {.Grid--ffMultilineSupport {
  display: block
}
.Grid--ffMultilineSupport>.Grid-cell {
  display: inline-block;
  vertical-align: top
}
.Grid--full,.Grid--full>.Grid-cell {
  display: block
}
.Grid--fit,.Grid--1of2,.Grid--1of3,.Grid--1of4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}
@media (min-width:24em) {.small-Grid--full,.small-Grid--full>.Grid-cell {
  display: block
}
.small-Grid--fit,.small-Grid--1of2,.small-Grid--1of3,.small-Grid--1of4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

}
@media (min-width:36em) {.med-Grid--full,.med-Grid--full>.Grid-cell {
  display: block
}
.med-Grid--fit,.med-Grid--1of2,.med-Grid--1of3,.med-Grid--1of4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

}
@media (min-width:48em) {.large-Grid--full,.large-Grid--full>.Grid-cell {
  display: block
}
.large-Grid--fit,.large-Grid--1of2,.large-Grid--1of3,.large-Grid--1of4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex
}

}

}

.Grid-cell--bkg {
  background: rgba(147, 128, 108, .1);    
}

.Box {
  width: 100%;
  padding: .8em 1em 0;
  margin-bottom: 1em;
  border-radius: 3px
}

.Box::after {
  content: "";
  display: block;
  margin-top: .8em;
  height: 1px
}

.Box-title {
  margin-bottom: .25rem;
  font-size: 1em
}