<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flat Layout</title>
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="fonts.css">
  <link rel="stylesheet" href="hg.css">
  <script src="script.js"></script>
</head>
<body>

<body class="HolyGrail">
  <header>
    <div class="Box Logo">
      <img class="Logo-image" src="http://pixelhandler.com/images/pixelhandler-logo.png">
      <div class="Logo-text">Pixelhandler</div>
    </div>
    <div class="Box Text">
      <div class="Text-right">Pushin&apos; &amp; pullin&apos; pixels on the web</div>
    </div>
  </header>

  <div class="HolyGrail-body">
    <main class="HolyGrail-content">
      <article class="Box">
        <h1>Main Content</h1>
        <p><strong>I'm first in the source order.</strong></p>
        <p>The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep. Fry, we have a crate to deliver. Hey, guess what you're accessories to.</p>
        <p>I'll get my kit! That's not soon enough! Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man.</p>
      </article>
    </main>

    <nav class="HolyGrail-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Clients</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>

    <aside class="HolyGrail-ads">
      <p>aside</p>
    </aside>
  </div>

  <footer class="Footer u-textCenter">
    <p class="Footer-credits">The End.</p>
  </footer>
</body>
</html>
