<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flat Layout</title>
  <link rel="stylesheet" href="bower_components/normalize-css/normalize.css">
  <link rel="stylesheet" href="fonts.css">
  <link rel="stylesheet" href="grid.css">
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>

  <header class="Grid Grid--gutters u-textCenter">
    <div class="Grid-cell u-1of3">
      <div class="Box Logo">
        <img class="Logo-image" src="http://pixelhandler.com/images/pixelhandler-logo.png">
        <div class="Logo-text">Pixelhandler</div>
      </div>
    </div>
    <div class="Grid-cell Grid-cell--bkg">
      <div class="Box">Pushin&apos; &amp; pullin&apos; pixels on the web</div>
    </div>
  </header>

  <main class="Grid Grid--gutters u-textCenter">

    <aside class="Grid-cell u-1of3">
      <nav class="Box">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Clients</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </nav>
    </aside>

    <div class="Grid-cell Grid-cell--bkg">
      <article class="Box">
        <h1>Main Content</h1>
        <p><strong>I'm first in the source order.</strong></p>
        <p>The key to victory is discipline, and that means a well made bed. You will practice until you can make your bed in your sleep. Fry, we have a crate to deliver. Hey, guess what you're accessories to.</p>
        <p>I'll get my kit! That's not soon enough! Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man.</p>
      </article>
    </div>

  </main>

  <footer class="Grid Grid--gutters u-textCenter">
    <div class="Grid-cell u-1of3">
      <div class="Box">1/3</div>
    </div>
    <div class="Grid-cell Grid-cell--bkg">
      <div class="Box">auto</div>
    </div>
  </footer>

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
