<header class="Header Header--cozy u-sansSerif u-blueBotBorder u-whiteBkg">
  <div class="Box u-cf">
    {{#link-to 'index'}}
      <img class="Header-logo" src="http://pixelhandler.com/images/pixelhandler-logo.png">
    {{/link-to}}
    <div class="Header-title u-blueTxt">
      {{#link-to 'index'}}Pixelhandler{{/link-to}}
    </div>
    <div class="Header-subTitle u-grayText">
      Pushin&apos; &amp; pullin&apos; pixels on the web
    </div>
  </div>
</header>

<div class="Blog-body u-grayBkg">
  <main class="Blog-content u-blackTxt u-whiteBkg u-grayLtBorder">
    <article class="Box">
      {{outlet}}
    </article>
  </main>

  <nav class="Blog-nav u-blueTxt u-ltBlueBkg u-grayRtBorder u-whiteLtBorder u-sansSerif">
    {{!outlet "recent"}}
    {{render "recent" this}}
    <h4>Links</h4>
    <ul class="Blog-nav-list">
      <li class="Blog-nav-list-item">{{#link-to 'index'}}Blog{{/link-to}}</li>
      <li class="Blog-nav-list-item">{{#link-to 'posts'}}Archive{{/link-to}}</li>
      <li class="Blog-nav-list-item">{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </nav>
</div>

<footer class="Footer u-sansSerif u-whiteTxt u-textCenter u-blueBkg u-whiteTopBorder">
  <p class="Footer-credits">The End. [Personal blog of Bill Heaton]</p>
</footer>
