<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <table class='table'>
        <thead>
          <tr><th>Recent Posts</th></tr>
        </thead>
        {{#each model}}
        <tr><td>
            {{#link-to 'post' this}}{{title}} <small class='muted'>by {{author.name}}</small>{{/link-to}}
        </td></tr>
        {{/each}}
      </table>
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>